.search {
    padding: 1rem 0px;

    & form {
        display: flex;
        flex-direction: row;
    }

    &__input,
    &__go {
        padding: 0.75rem 1rem;
        margin: 0.2rem;
        background-color: var(--elements);
        border: 0px;
        color: var(--text);
        box-shadow: rgba(99, 99, 99, 0.05) 0px 1px 4px 0px;
        border: 1px solid var(--border);
        border-radius: 0.4rem;
    }

    &__input {
        width: 100%;
    }
}


@media screen and (min-width: 700px) {
    .search {
        padding: 1rem 0px;

        &__input {
            width: 35rem;
        }
    }
}